<div class="container">
	<div class="row">
	    <div class="col-md-9 jumbotron">
	    	<form name="postForm" ng-submit="service.newPost(newPost)" novalidate>
		        <label>Title: <input type="text" class="form-control" name="title" ng-minlength="5" ng-maxlength="50" ng-model="newPost.title" required /></label>
		        <text-angular ng-model="newPost.content" required></text-angular>
		        <label>Abstract:  <input type="text" class="form-control" name="abstract" ng-minlength="5" ng-maxlength="500" ng-model="newPost.abstract" required /></label>
		        <label>Tags (separated by space): <input type="text" name="tags" ng-model="newPost.tags" class="form-control" required /></label>
		        <br/>
		        <input type="submit" ng-disabled="!postForm.$valid" class="btn btn-primary" value="Submit" />
			</form>
	    </div>
	</div>
</div>